#include "windows.h"
#include "version.h"

ALLEGRO_ICON ICON DISCARDABLE "scantool.ico"

1 VERSIONINFO 
FILEVERSION SCANTOOL_VERSION, SCANTOOL_SUB_VERSION, SCANTOOL_WIP_VERSION, 0
PRODUCTVERSION SCANTOOL_VERSION, SCANTOOL_SUB_VERSION, SCANTOOL_WIP_VERSION, 0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
   BLOCK "StringFileInfo"
   {
      BLOCK "040904B0"
      {
         VALUE "Comments", "Protected under the GNU General Public License\0"
         VALUE "CompanyName", "ScanTool.net, LLC\0"
         VALUE "FileDescription", "ScanTool.net OBD-II Software for Windows\0"
         VALUE "FileVersion", SCANTOOL_VERSION_STR
         VALUE "InternalName", "ScanTool\0"
         VALUE "LegalCopyright", SCANTOOL_COPYRIGHT_STR
         VALUE "LegalTrademarks", "\0"
         VALUE "OriginalFilename", "ScanTool.exe\0"
         VALUE "ProductName", "ScanTool.net OBD-II Software\0"
         VALUE "ProductVersion", SCANTOOL_VERSION_EX_STR
      }
   }

   BLOCK "VarFileInfo"
   {
      VALUE "Translation", 0x409, 1200
   }
}
